/* custom properties */
:root {
    --button-color: #596D48;
    --input-border: #E5E7EB;
    --selected-color: #0070F3; /* Custom color value */
    --green-color: rgb(12, 190, 12);
  }

  @font-face {
    font-family: my-cool-font;
    src: url(./Norse-Bold.otf);
  }

/* css rules for default selectors */
body {
    width: auto;
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif; 
}



.left {
    position: relative;
    flex: 1;
    display: flex;
    
} 

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 2;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.content{
    display: flex;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 20px 250px;
}

h1, p {
    text-align: center;
}

li{
    list-style: none;
    margin: 0;
    padding: 0;
}

#logo {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'my-cool-font', Verdana, Geneva, Tahoma, sans-serif;
    height: 110px;
    font-size: 100px;
    
}


#logo > * {
    gap: 20px;
    color: white;
    
}

#logo > img {
    height: 100px;

}

.left > img {
    max-width: 100%;
    height: auto;
    flex: 1;
}

button {
    margin-left: 40px;
    color: var(--button-color);
    width: 150px;
    height: 30px;
    background-color: rgb(4, 79, 4);
    color: white;
    border-radius: 5px; 
}

input:invalid{

    border: 3px solid var(--input-border);
    border-radius: 5px;
}


input:focus {
    outline: 3px solid var(--selected-color);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

input:valid {
    border: 3px solid var(--green-color);
    border-radius: 5px; 
}

.error {
    border: 3px solid var(--input-border) !important;
    border-radius: 5px !important;
}

a {
    text-decoration: none;
    color: rgb(4, 79, 4);
    font-weight: bold;
}
